body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #370617;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.container{
    background-color: #F48C06;
    width: 500px;
    height: 160px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 20px;
    color: white;
   
}
.container:nth-child(1){
    justify-content: flex-start;
    align-items: flex-end;
}
.container:nth-child(2){
    justify-content: center;
    align-items: stretch;
}
.container:nth-child(3){
    justify-content: flex-end;
    align-items: center;
}
.container:nth-child(4){
    justify-content: space-between;
    align-items: flex-start;
}
.container:nth-child(4) :last-child {
    align-self: flex-end;
}
.container:nth-child(5){
    justify-content: space-evenly;
    align-items: stretch;
}
.container:nth-child(5) div:nth-child(2){
    align-self: center;
}

.container:nth-child(6){
    justify-content: center;
    align-items: center;
}

.container:nth-child(6) div:nth-child(2){
    flex-grow: 2;
}

.container__square{
    background-color: #9D0208;
    min-width: 78px;
    min-height: 78px;
    border-radius: 4px;
    text-align: center;
}

